* {
    color: blue;
}

.navbar_container {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
}

a {
    color: white;
}

.header_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_form_container {
    border: 2px dotted green;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.form_item {
    max-width: 500px;
    margin: 3px;
}

.form_title_container {
    display: flex;
    justify-content: center;
}

.spinning_globe {
    border: 2px dotted purple;
    width: 200px;
    height: 200px;
}

.input_container {
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
}