* {
    margin: 0px;
    padding: 0px;
}
.button {
    padding: 3px;
    margin: 5px;
}

.signout_container {
    display: flex;
    align-items: center;
}

.navbar_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    height: 40px;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav_links {
    color: white;
}

.header_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.form_item {
    max-width: 500px;
    margin: 3px;
}

.form_title_container {
    display: flex;
    justify-content: center;
}

.spinning_globe {
    border: 2px dotted purple;
    width: 200px;
    height: 200px;
}

.input_container {
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
}
.padding {
    padding: 10px;
    margin: 10px;
}

#globe {
    width: 200px;
    height: 200px;
}

/* calculator */
.calculator_page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 990px
}

.input_screen {
    border: 2px dotted orange
}

.display {
    display: flex;
    justify-content: center;
}

/* dashboard */
.metrics_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 400px;
}

.map_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    border: 2px dotted pink
}

.dashboard {
    display: flex;
    justify-content: center;
}